<style>
    .demo-card-wide.mdl-card {
        width: 852px;
        margin-bottom: 48px;
    }
    
    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 418px;
    }
    
    .mdl-card__title-text {
        line-height: normal;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
        font-size: 50px;
        min-height: 1em;
        margin-left: 9px;
        margin-bottom: 6px;
    }
    
    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>

{% for post in site.posts %}
<p>В основном облачный майнинг, как услуга, предоставляется на специализированном оборудовании - асиках. Доходность облачного майнинга определяется количеством добытых монет и их рыночной ценой, т.е. по завершению контракта (или в пределах его длительности) вы будете получать добытую криптовалюту или эквивалентные выплаты в фиате на свой электронный кошелёк соразмерно количеству арендованной мощности.
<br><br>
С целью обеспечения пользователей сайта BitMakler.com информацией о возможностях и доходности инвестиций в облачный майнинг мы разработали специализированный мониторинг. Для обеспечения работы мониторинга регулярно заключаем тестовые контракты и ведем учёт затрат/выплат, что даёт возможность понять с какими сервисами работать выгоднее.
</p>
  <table border="1">
   <tr>
    <th>Россия</th>
    <th>Великобритания</th>
    <th>Европа</th>
    <th>Длина ступни, см</th>
   </tr>
   <tr><td>34,5</td><td>3,5</td><td>36</td><td>23</td></tr>
  </table>
  
{% endfor %}
