<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
<p>В основном облачный майнинг, как услуга, предоставляется на специализированном оборудовании - асиках. Доходность облачного майнинга определяется количеством добытых монет и их рыночной ценой, т.е. по завершению контракта (или в пределах его длительности) вы будете получать добытую криптовалюту или эквивалентные выплаты в фиате на свой электронный кошелёк соразмерно количеству арендованной мощности.
<br><br>
С целью обеспечения пользователей сайта BitMakler.com информацией о возможностях и доходности инвестиций в облачный майнинг мы разработали специализированный мониторинг. Для обеспечения работы мониторинга регулярно заключаем тестовые контракты и ведем учёт затрат/выплат, что даёт возможность понять с какими сервисами работать выгоднее.
</p>

  
<table class="mdl-data-table">
	<thead>
		<tr>
			<th>Название</th>
			<th>Тип</th>
			<th>День</th>
			<th>Месяц</th>
			<th>Год</th>
			<th>ROI</th>
			<th>Статус</th>
			<th>Обзор</th>
		</tr>
        </thead>
        <tbody>
        	{% for post in site.posts %}
		<tr>
		<td>{{ post.title }}</td>
		<td>{{ post.category }}</td>
		<td>{{ post.day }}</td>
		<td>{{ post.month }}</td>
		<td>{{ post.year }}</td>
		<td>{{ post.roi }}</td>
		<td>{{ post.status }}</td>
		<td><a href="{{post.url}}" style="text-decoration:none; color: #424242">Обзор {{ post.title }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
    </div>
</div>
