<style>  
.mdl-data-table td {
  text-align: left;
}
.mdl-data-table th {
  text-align: left;
}
</style>
  <table class="mdl-data-table" align="left">
   <tr>
    <th>Название</th>
    <th>Категория</th>
    <th>День</th>
    <th>Месяц</th>
    <th>Год</th>
    <th>Тест</th>
    <th>Внесено</th>
    <th>Выплата</th>
    <th>Рой</th>
   </tr>
   {% for post in site.categories.cloud_mining %}
   <tr><td><img src="{{ post.icon  }}" height="23"> {{ post.title }}</td><td>{{ post.category  }}</td><td>{{ post.day }}</td><td>{{ post.month }}</td><td>{{ post.year }}</td><td>{{ post.test }}</td><td>{{ post.deposit }}</td><td>{{ post.windraw }}</td><td>{{ post.roi }}</td></tr>
   {% endfor %}
  </table>
